@model IEnumerable<GCRS.Base.House>

@{
    ViewBag.Title = "Mis Casas";
}

<h2>Mis Casas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SquareMts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterFreq)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SquareMts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterFreq)
            </td>
            <td>
                <div class="form-group">
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <input type="submit" value="Seleccionar" class="btn btn-success" onclick="location.href='@Url.Action("RequestPost", "MakeRequestHouse", new { id = item.HouseID })'" />
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
}
    <tbody>
        <tr>
            <td>
                <div class="form-group">
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <input type="submit" value="Nueva Casa" class="btn btn-success" onclick="location.href='@Url.Action("RequestPost", "BuildRequestHouse")'" />
                    </div>
                </div>
            </td>
        </tr>
    </tbody>

</table>
