@model IEnumerable<GCRS.Base.RequestRentPublishing>

@{
    ViewBag.Title = "Peticiones de Renta sin atender";
}

<h2>Peticiones de Renta sin atender</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommissionPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommissionPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestStatus)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.RequestRentPublishingID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RequestRentPublishingID })*@
                    <div class="form-group">
                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                            <input type="submit" value="Atender" class="btn btn-warning" onclick="location.href='@Url.Action("TakeRequest", "RequestRentPublishings", new { id = item.RequestPublishingID })'" />
                            <input type="submit" value="Detalles" class="btn btn-success" onclick="location.href='@Url.Action("Details", "RequestRentPublishings", new { id = item.RequestPublishingID })'" />
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    }

</table>
