@model IEnumerable<GCRS.Base.RentPublishing>

@{
    ViewBag.Title = "ListRentPublishingsClient";
}

<h2>Mis Publicaciones de Renta</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommissionPercent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommissionPercent)
            </td>
            <td>
                <div class="form-group">
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                        <input type="submit" value="Aceptadas" class="btn btn-primary" onclick="location.href='@Url.Action("ListRentRegPub", "RentPublishings", new { id = item.PublishingID })'" />
                        <input type="submit" value="En proceso" class="btn btn-primary" onclick="location.href='@Url.Action("ListRentReqPub", "RentRequests", new { id = item.PublishingID })'" />
                        <input type="submit" value="Detalles" class="btn btn-primary" onclick="location.href='@Url.Action("Details", "RentPublishings", new { id = item.PublishingID })'" />
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
