@model IEnumerable<GCRS.Base.RentRequest>

@{
    ViewBag.Title = "Mis Rentas";
}

<h2>Mis Rentas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentState)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastChange)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentState)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.LastChange)
                </td>*@
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.RentRequestID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RentRequestID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RentRequestID })*@
                    <div class="form-group">
                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                            @if (item.RentState != GCRS.Base.RentRequest.Estados.Reject && item.RentState != GCRS.Base.RentRequest.Estados.Accept)
                            {
                                if (item.LastChange == GCRS.Base.Change.Owner && item.RentState == GCRS.Base.RentRequest.Estados.Negotiation)
                                {
                                    <input type="submit" value="Aceptar" class="btn btn-success" onclick="location.href='@Url.Action("AcceptRequest", "RentRequests", new { id1 = 1, id2 = item.RentRequestID })'" />
                                    <input type="submit" value="Negociar" class="btn btn-success" onclick="location.href='@Url.Action("NegotiationToPending", "RentRequests", new { id = item.RentRequestID })'" />
                                    @*<input type="submit" value="Pass" class="btn btn-success" onclick="location.href='@Url.Action("Pass", "RentRequests", new { id1 = 1, id2 = item.RentRequestID })'" />*@
                                }
                                else if (item.LastChange == GCRS.Base.Change.Realtor && item.RentState == GCRS.Base.RentRequest.Estados.Negotiation)
                                {
                                    <input type="submit" value="Negociar" class="btn btn-success" onclick="location.href='@Url.Action("NegotiationToPending", "RentRequests", new { id = item.RentRequestID })'" />
                                    <input type="submit" value="Pass" class="btn btn-success" onclick="location.href='@Url.Action("Pass", "RentRequests", new { id1 = 1, id2 = item.RentRequestID })'" />
                                }
                                <input type="submit" value="Denegar" class="btn btn-danger" onclick="location.href='@Url.Action("RejectRequest", "RentRequests", new { id1 = 1, id2 = item.RentRequestID })'" />
                                <input type="submit" value="Detalles" class="btn btn-success" onclick="location.href='@Url.Action("Details", "RentRequests", new { id1 = 1, id2 = item.RentRequestID })'" />
                            }
                            else
                            {
                                <input type="submit" value="Detalles" class="btn btn-primary" onclick="location.href='@Url.Action("Details", "RentRequests", new { id1 = 1, id2 = item.RentRequestID })'" />
                            }
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    }

</table>
